{% extends 'base.html' %}
{% block content %}
    <div class="chatbot text-center">
      <header>
        <h2>Chatbot</h2>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <span class="material-symbols-outlined">smart_toy</span>
          <p>Salut 👋<br>Comment puis-je vous aidez aujourd'hui ?</p>
        </li>
      </ul>
      <div class="chat-input">
        <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
    </div>
{% endblock %}